/**************************************************************************************************

    Font definitions

**************************************************************************************************/

@font-face {
    font-family: Hachi Maru Pop;
    src: url(../webfonts/HachiMaruPop-Regular.ttf)
}
@font-face {
    font-family: Mali;
    src: url(../webfonts/Mali-Regular.ttf)
}

@font-face {
    font-family: Dekko;
    src: url(../webfonts/Dekko-Regular.ttf)
}

@font-face {
    font-family: Poppins;
    src: url(../webfonts/Poppins-Regular.ttf)
}

/**************************************************************************************************

    Base styles

**************************************************************************************************/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: lowercase;
    font-family: Mali, serif;
    font-weight: bold;
}

h6,
.h6 {
    text-transform: unset;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover,
a.h1:hover, a.h2:hover, a.h3:hover, a.h4:hover, a.h5:hover {
    color: inherit;
    text-decoration: none;
}

a {
    color: rgba(0, 0, 0, 0.7);
}

p a, li a {color: #D48C99;}

.hd a {color: #D48C99;}

.ct a {color: #4a4a4a;}

.ct a:hover {
    color: #E5C1C7;
    text-decoration: none;
}

.cu a {color: #95b582;}

.ma a {color: #E5C1C7;}

a:hover {
    color: #CFDEBA;
    text-decoration: none;
}

body {
    background-color: transparent;
    font-family: verdana, sans-serif; 
    min-height: 100vh;
    font-size: 9.5pt;
    line-height: 20.5px;
    background-color: #fff;
}

/**************************************************************************************************

    Helpers

**************************************************************************************************/

.hide {
    display: none !important;
}

.parsed-text img {
    max-width: 100% !important;
    height: auto !important;
}

.toggle.btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

/**************************************************************************************************

    Layout

**************************************************************************************************/

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(https://i.imgur.com/XxrmiPC.png);
    background-repeat: repeat;
    background-attachment: fixed;
}

main {
    flex-grow: 1;
    display: flex;
    background-position: top;
    width: 60.85%;
    max-width: 90vw;
}

main > .row {
    flex-grow: 1;
    padding-right: 25px;
}

.main-content {
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

/* Header */

.site-header-image {
    /*background-color: #eee;*/
    background-repeat: no-repeat;
    background-size: 870px;
    min-height: 320px;
    background-attachment: fixed;
  background-position: top;
    width: 60.85%;
    max-width: 80vw;
    height: auto;
margin: auto;
border-top-left-radius: 95px;
border-top-right-radius: 95px;
}

.navbar .nav-item {
    text-transform: lowercase;
    font-family: Mali, serif;
    color: #4a4a4a;
}

.navbar .nav-item:hover {
    background-color: #f4e3e6;
    border-radius: 50px;
}

.dropdown-item:hover {
    background-color: #f4e3e6;
    color: #aaa;
}

.dropdown-menu {
    border: 1px solid #EBF0E3;
    background-color: #FBF5F6;
}

.navbar .navbar-f {
    text-transform: lowercase;
    font-family: Hachi Maru Pop, serif; 
   margin-top: -2.5px;
   font-size: 15pt;
   padding-right: 4.5px;
   color: #E5C1C7;
}

.navbar .navbar-brand {
    text-transform: lowercase;
    font-family: Hachi Maru Pop, serif;
    font-weight: bolder;
   margin-top: -6px;
   color: #95b582;
}

.navbar .row { width: 100%;}

.navbar {  background-position: top;
    width: 60.85%;
    max-width: 100vw; margin: auto; background-color: #fafafa;
border-bottom: 2px solid #F5F5F5; position: relative;}

.navimg {
    height: 110%;
    width: 100%;
    max-width: 100vw;
    background-image: url(https://i.imgur.com/BxvQMZ1.png);
    background-repeat: repeat-x;
    background-size: contain;
    margin: auto;
    position: absolute;
    top: -90%;
    left: 0;
    z-index: 0; }

hr {border-color: #EBF0E3 !important;}
    
.clk {position: absolute;
    top: -148%;
    left: 73.3%;
    background-color: #CFDEBA;
    font-family: Mali, serif;
    color: #566250;
    text-transform: lowercase;
    border-radius: 15px;
    font-size: 8.5pt;
    padding: 5px;}
    
.dash {
    width: 75%;
    margin: auto;
    background-image: url(https://i.imgur.com/TRNxyda.png);
    background-repeat: repeat;
    border-radius: 25px;
    padding: 15px;
}
.top1 {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #E5C1C7;
    border-right: 0px;
    border-radius: 25px 0px 0px 25px;
}

.top2 {
    padding: 15px;
    padding-left: 2px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #E5C1C7;
    border-left: 0px;
    border-radius: 0px 25px 25px 0px;
}

.top3 {
    width: 65%;
    padding: 15px;
    padding-top: 5px;
    background-color: #fff;
    border: 1px solid #E5C1C7;
    border-right: 0px;
    border-radius: 25px 0px 0px 25px;
    background-image: url(https://i.imgur.com/TRNxyda.png);
    background-repeat: repeat;
}

.top4 {
    width: 34%;
    padding: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #E5C1C7;
    border-left: 0px;
    border-radius: 0px 25px 25px 0px;
    background-color: #fff;
}

.top2txt {
    margin-top: 32px;
    margin-left: -15px;
    padding-left: 0px;
    padding: 10px;
}

.abt {
    padding: 15px;
    background-color: #fff;
    border: 2px dashed #95b582;
    border-radius: 25px;
    width: 90%;
}

.abth {
    padding: 25px;
    width: 100%;
    background-color: #fff;
    font-family: Poppins, serif;
    font-size: 10.5pt;
    text-align: center;
    border-radius: 12.5px;
}

/* Sidebar */

.sidebar {
    text-align: center;
    padding-right: 0px;
    display: inline-block;
    margin-right: 15px;
    padding: 5px;
}

.sidebar ul {
    list-style-type: none;
    display: inline-block;
    padding-top: 30px;
}

.sidebar ul li {
    background-color: white;
    margin-bottom: 0em;
    padding: 0.2em 0; 
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
    width: 180px;
    border-top: 0px solid #95b582;
}

.sidebar .sidebar-section .sidebar-section-header {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: Poppins, serif; 
    background-color: #fafafa;
    font-size: 1-9.5pt;
    padding: 5px;
    border-bottom: 0px solid #95b582;
}

.sidebar .sidebar-header {
    background-color: #95b582;
    padding-bottom: 4.5px;
    border-top-left-radius: .50rem; 
    border-top-right-radius: .50rem;
    font-size: 11pt;
    font-family: Hachi Maru Pop, serif;
    text-transform: lowercase;
    font-weight: bold;
    padding: 2px;
}

.sidebar .sidebar-header a {
    color: white;
    font-family: Hachi Maru Pop, serif;
    padding: 5.5px;
    margin-top: -1.5px;
}
.sidebar .sidebar-header a:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
}

.sidebar a,
.sidebar-section-header {
    display: block;
    padding: 0.1em 1em;
}

.sidebar-section-header {
    margin-top: -2.5px;
}

.sidebar-item a {
    text-align: left;
}

.sidebar a {
    text-transform: lowercase;
    font-family: Poppins, sans-serif;
    color: #4a4a4a;
    font-size: 11pt;
    letter-spacing: 0px;
    padding: 5px;
    padding-left: 15px;
}
.sidebar a:hover {
    color: #aaa;
    background-color: #f4e3e6;
}
.sidebar a:hover,
.sidebar a:active,
.sidebar a:focus,
.sidebar a:link {
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: none;
}
.sidebar a.active, .sidebar a.active:hover {
    color: #4a4a4a;
    background-color: #E5C1C7;
    text-align: left;
}

.sideimg {
    height: 90px;
    width: 100%;
    background-image: url(https://i.imgur.com/qdJQ8kC.png);
    background-repeat: space;
    background-size: contain;
    position: absolute;
    top: -9px;
    left: -13px;
    z-index: 3;
}

.site-mobile-header {
    display: none;
    padding: 10px 20px;
}

@media (max-width: 1100px) {
    .site-mobile-header {
        top: 54px !important;
    }

    .navbar { width: 100%; }

    main { width: 100%; position: relative; left: -0.5%; }

    .sidebar { position: relative; left: -5%;}

    .navimg { top: -90%; height: 135%; }

    .dash {
        width: 100%;
    }

    .top1, .top2 {
        width: 40%;
    }
    
    .top3, .top4 {
        width: 100%;
        margin-left: 35px;
    }

    .top2txt {
        margin-top: 0px;
    }

    .timestamp {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}

@media (max-width: 600px) {
    .site-header-image, .navimg, .clk {
        display: none;
    }
    .site-mobile-header {
        display: block;
        position: fixed;
        top: 68px;
        z-index: 4;
        width: 100%;
    }

    .sideimg { width: 50%;
    }

    

    #headerNav {
        position: fixed;
        z-index: 5;
        width: 100%;
    }

    .dash {
        width: 100%;
    }

    .top1, .top2 {
        width: 50%;
    }
    
    .top3, .top4 {
        width: 100%;
        margin-left: 35px;
    }

    .top2txt {
        margin-top: 0px;
    }

    .navbar .nav-item:hover {
        background-color: #f4e3e6;
        border-radius: 0px;
    }

    main.container-fluid {
        margin-top: 110px;
    }

    main.container-fluid > .row {
        position: relative;
    }
    .sidebar {
        position: absolute;
        padding-left: 75px;
        text-align: center;
        background-color: rgb(250, 250, 250, .8);
        z-index: 3;
        right: 0px;
        bottom: 0px;
        top: 0px;
        overflow-y: scroll;
        left: -100%;
        transition: left 0.2s;
    }
    .sidebar.active {
        left: 0%;
    }

    .sidebar > ul {
        padding-top: 0px;
    }

    .sidebar ul {
        list-style-type: none;
        display: block;
        padding-top: 30px;
        padding-left: 0px;
    }

    .sidebar ul li {
        width: 75%;
        font-align: center;
        background-color: white;
        border-radius: 0;
        margin-bottom: 0;
        padding: 0.4em 0;
        box-shadow: none;
    }

	/*fix for screen being over-wide on mobile*/
	.row {
		margin:0; max-width:100%;
	}

	.container-fluid {
		padding:0px;
	}

	.site-footer .navbar .navbar-nav {
		flex-wrap: wrap; justify-content: center;
	}
}

/* Footer */

.site-footer {
    text-align: center;
}

.site-footer .navbar {
    padding-bottom: 0;
    background: #fff;
    border: 0px;
}
.site-footer .navbar .navbar-nav {
    flex-direction: row;
    background: #fff;
}
.site-footer .navbar .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.site-footer .copyright {
    padding: 0 1rem 1rem;
    color: rgba(0, 0, 0, 0.3);
}

.mce-content-body {
    padding: 20px;
}

/**************************************************************************************************

    Content

**************************************************************************************************/
.modal-header {
    border-bottom: 0px;
    background:url(https://i.imgur.com/XxrmiPC.png) repeat;
}

.modal-header .modal-title {
    line-height: 1em;
     color: #95b582;
}

.tooltip-inner {
    max-width: 350px !important;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
}
.nav-tabs .nav-link {
    text-transform: lowercase;
    font-family: Poppins, sans-serif;
}

.display-user,
.display-character {
    font-weight: bold;
   margin-left: 0px;
}

.help-icon {
    /*vertical-align: middle;*/
    cursor: pointer;
    margin: 0 5px;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    align-items: center;
    padding: 5px;
    letter-spacing: 0.5px;
}
.breadcrumb a {
    color: rgba(9, 9, 9, 0.568);
    background-color: #EDD3A0;
    border-radius: 999px;
    padding: 8px;
}
.breadcrumb a:hover {
    color: rgba(0,0,0,0.4);
    background-color: #f1e0c9;
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item:before {
    content: "/";
}
.collapse-title {
    position: relative;
}
.collapse-title:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 0.425em;
    border: 0.3em solid rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
}

.image,
.image-thumb {
    max-width: 100%;
}

.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination {
    flex-wrap: wrap;
}

.spoiler {
    border: 0px solid #C0D1A6;
    border-radius: 5px;
    margin-bottom: 1rem;
    background: transparent;
    margin-top: 0px;
}
.spoiler-toggle {
    font-weight: bold;
    background-color: #C0D1A6;
    cursor: pointer;
    padding: .3rem 1.25rem;
    font-size: .9rem;
    font-family: Poppins, serif;
    color: inherit;
    text-transform: uppercase;
}
.spoiler-text {
    padding: 0.75rem 1.25rem;
    border-top: 0px solid rgba(0, 0, 0, 0.1);
}
.text-break {
    overflow-wrap: break-word;
    word-break: break-word;
}
.small-icon {
    height: 2rem;
    padding-right: .5rem;
}

.cos-talk1 {color: #F4DE99; text-shadow:
    -1px -1px 0 #4a4a4a, 
    1px -1px 0 #4a4a4a,
    -1px 1px 0 #4a4a4a,
     1px 1px 0 #4a4a4a; width: 70%; padding-bottom: 2.5px; font-family: Mali, serif; font-weight: bold; font-size: 16.5pt; letter-spacing: 1.5px; margin: auto; text-align: left;}

.cos-talk2 {width: 70%; margin: auto; padding: 25px; border-radius: 15px; background-color: #ffffff; border: 2.5px solid #F4DE99; text-align: left;}

.whit-talk1 {color: #A36959; text-shadow:
    -1px -1px 0 #4a4a4a, 
    1px -1px 0 #4a4a4a,
    -1px 1px 0 #4a4a4a,
     1px 1px 0 #4a4a4a; width: 70%; padding-bottom: 2.5px; font-family: Mali, serif; font-weight: bold; font-size: 16.5pt; letter-spacing: 1.5px; margin: auto; text-align: left;}

.whit-talk2 {width: 70%; margin: auto; padding: 25px; border-radius: 15px; background-color: #ffffff; border: 2.5px solid #A36959; text-align: left;}

.btn-primary:active, .btn-primary:visited, .badge-primary, .badge-secondary, .badge-info {
    background-color: #CFDEBA !important; border-color: #CFDEBA; color: #4a4a4a; text-transform: capitalize;
} 

.badge-success {background-color: #bed0a6 !important;}

.badge-warning {background-color: #E0ECD0 !important; color: #ccc;}

.badge-danger {background-color: #f4e3e6 !important; color: #f8f8f8;}

.text-success {color: #95b582 !important;}

.btn-primary {background-color:#CFDEBA; border-color: #CFDEBA; color: #4a4a4a; text-transform: capitalize;}
.btn-primary:hover {background-color:#EBF0E3; border-color: #EBF0E3; color: #4a4a4a; text-transform: capitalize;}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    border-color: #bed0a6 !important; color: #bed0a6;
}

.btn-outline-primary:hover {
    background-color: #bed0a6 !important; color: #4a4a4a;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #E5C1C7 !important; border-color: #E5C1C7; color: #4a4a4a !important; text-transform: capitalize;
} 

.btn-outline-success, .btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
    border-color: #E5C1C7 !important; color: #E5C1C7; text-transform: capitalize;
}

.btn-outline-success:hover {
    background-color: #E5C1C7 !important; color: #4a4a4a; text-transform: capitalize;
}

.btn-outline-info, .btn-outline-info:active, .btn-outline-info:visited {
    color:#E5C1C7; border-color: #E5C1C7; text-transform: capitalize; }

.btn-info, .btn-info:active, .btn-info:visited {
        background-color: #E5C1C7 !important; border-color: #E5C1C7; color: #4a4a4a; text-transform: capitalize;
    } 

.btn-outline-info:hover, .btn-info:hover, .alert {
        background-color: #f4e3e6 !important; border-color: #f4e3e6; color: #4a4a4a;
    }

.alert-secondary {
        background-color: #E0ECD0 !important; border-color: #f4e3e6; color: #4a4a4a;
    }

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited, .btn-danger toggle on {
    background-color: #E57373 !important; border-color: #E57373; color: #fafafa; text-transform: capitalize; text-transform: capitalize;
} 

.btn-danger:hover {
    background-color: #df6e6e !important; border-color: #df6e6e; color: #fafafa; text-transform: capitalize;
} 

.btn-outline-danger, .btn-outline-danger:hover, .btn-outline-danger:active, .btn-outline-danger:visited {
    border-color: #E57373 !important; color: #E57373; text-transform: capitalize;
}

.btn-outline-danger:hover {
    background-color: #df6e6e !important; color: #fafafa; text-transform: capitalize;
}

.text-danger {color: #E57373; !important;}

.btn-secondary, .btn-secondary.focus, .btn-secondary:active, .btn-secondary:visited {
    background-color: #f4e3e6 !important; border-color: #f4e3e6; color: #4a4a4a; text-transform: capitalize;
}

.grid-view-button, .list-view-button, .thumb-view-button {border: #fff;}

.btn-secondary:hover {background-color:#E5C1C7; border-color: #E5C1C7; color: #4a4a4a; text-transform: capitalize; }

.btn-outline-secondary, .btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary:visited {
    border-color: #f4e3e6 !important; color: #f4e3e6; text-transform: capitalize;
}

.btn-outline-secondary:hover, btn-outline-secondary:show active {
    background-color: #E5C1C7 !important; color: #4a4a4a; text-transform: capitalize;
}

/* NOTIFICATIONS *********************************************************************************/

.notifications-table .unread,
.notifications-table .unread td {
    background-color: #fffdf0;
}

/* BROWSE ****************************************************************************************/

.world-entry-image {
    text-align: center;
}

.world-entry-image img {
    max-width: 100%;
}
.world-entry-search {
    opacity: 0.5;
}

.masterlist-search-field {
    display: inline-block;
    align-items: center;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
}
.masterlist-search-field label {
    margin-bottom: 0px;
    margin-right: 10px;
}
.masterlist-search-field input[type="text"],
.masterlist-search-field select {
    width: 300px;
}

/* ADMIN ****************************************************************************************/

.ranks-table tbody tr > td:last-of-type {
    text-align: right;
}

.sortable .handle {
    color: #343a40;
}
.sortable .sortable-placeholder {
    background-color: rgba(0, 0, 0, 0.1);
}

/* LOGS ******************************************************************************************/
tr.inflow {
    background-color: #fafaff;
}
tr.outflow {
    background-color: #fffafa;
}

/* PROFILE ***************************************************************************************/

.profile-assets-card .card-body {
    display: flex;
    flex-direction: column;
}

.profile-assets-card .card-body .profile-assets-content {
    flex-grow: 1;
}

.profile-assets .profile-inventory .profile-inventory-item img {
    max-width: 100%;
}

.character-bio .nav-tabs.card-header-tabs .active {
    background-color: white;
    border-color: #f4e3e6;
    border-bottom: #fff;
}

[class*="form-"], .selectize-input { border-color: #E0ECD0 !important; }

.card-header, .nav-tabs { background: #FBF5F6 !important; border: 0px;}

#inboxType {background: none !important;}

table {
    border-collapse: collapse;
}

  th, td {
    border: 1px solid #f4e3e6 !important;
    background-color: none;
    border-right-style: hidden !important;
  }

table tr:first-child th {
  border-bottom: 2px solid #f4e3e6 !important;
}
table tr:last-child td {
  border-bottom: 0 !important;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0 !important;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0 !important;
}

.tooltip.show {
    opacity: 1.5;
} 

/* INVENTORY *************************************************************************************/

.inventory-category .inventory-body .inventory-item img {
    max-width: 100%;
}
.inventory-stack-name,
.inventory-character-name {
    color: rgba(0, 0, 0, 0.7);
}
.inventory-stack-name:hover,
.inventory-character-name:hover {
    color: inherit;
    text-decoration: none;
}
tr.accountbound {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
}

/* CHARACTERS ************************************************************************************/

.image-nav .nav-item a {
    border: 5px solid transparent;
    border-radius: 0.25rem;
    display: block;
}
.image-nav .nav-item a.active {
    border: 5px solid #ddd;
}

/* TRANSFERS *************************************************************************************/

.transfer-row,
.submission-character-row {
    display: flex;
    align-items: stretch;
}
.transfer-info,
.submission-character-info {
    flex-grow: 1;
}
.transfer-info .card-body,
.submission-character-info .card-body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.transfer-info-content,
.submission-character-info-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.transfer-info-content .transfer-info-body,
.submission-character-info-content .submission-character-info-body {
    flex-grow: 1;
}

.collapse-toggle {
    position: relative;
}
.collapse-toggle:after {
    display: block;
    content: "";
    border: 0.3rem solid rgba(0, 0, 0, 0.5);
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);
    position: absolute;
    right: -0.85rem;
    top: 0.45rem;
    transform: rotateZ(90deg) translateX(0.25rem);
}
.collapse-toggle.collapsed:after {
    transform: none;
}
.user-items .inventory-item,
.user-characters .character-item {
    padding: 10px;
}
.user-items .inventory-stack,
.user-characters .character-stack {
    cursor: pointer;
}
.user-items .inventory-item img,
.user-characters .character-item img {
    max-width: 100%;
}
.user-characters .character-item.disabled,
.user-characters .character-item.disabled .character-stack {
    opacity: 0.5;
    cursor: not-allowed;
}
.user-items .category-selected .inventory-item,
.user-characters .category-selected .character-item {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
}
.user-items .category-selected.select-item-row {
    background-color: rgba(0, 0, 0, 0.05);
}

/* SHOPS *****************************************************************************************/
.shops-row img {
    max-width: 100%;
}
.shops-row .shop-name a {
    font-weight: bold;
}

/* TRADES ****************************************************************************************/
.trade-offer .currency-item {
    background-color: transparent;
}

/* BOOKMARKS *************************************************************************************/
.bookmark-table {
    min-width: 1000px;
}

.bookmark-table .bookmark-thumbnail {
    min-width: 115px;
    width: 115px;
}

.bookmark-table .bookmark-info {
    width: 20%;
}

.bookmark-table .bookmark-notifications {
    width: 18%;
}

.bookmark-table .bookmark-actions {
    width: 18%;
}

.bookmark-table .img-thumbnail {
    width: 100px;
}


@media (min-width: 768px) {
    .fb-md-50 { flex-basis:50%; }
}

/* BOOTSTRAP TABLES *************************************************************************************/
.ubt-bottom {
    border-bottom: 1px solid #dee2e6;
}

.ubt-top {
    border-top: 1px solid #dee2e6;
}

.ubt-texthide {
    width: 100%;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

/* COMMENTS *************************************************************************************/
.comment_replies {
        padding-left: 3rem;
        border-left-width: 2px!important;
    }

@media only screen and (max-width: 600px) {
    .comment_replies {
        padding-left: 1rem;
    }
}
/*
    Credit to Preimpression for all of this code. You can find their github here:
    https://github.com/preimpression

    Branch where the code is from:
    https://github.com/preimpression/lorekeeper/tree/extension/research_trees
*/

.children-scroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
.children-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e4e4e4;
}
.children-scroll::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
    transition: 0.5s;
}
.children-scroll::-webkit-scrollbar-thumb:hover {
    background: #d5b14c;
    transition: 0.5s;
}


/*----------------children-skill----------*/
.children-body{
    white-space: nowrap;
    overflow-y: hidden; 
}
.children-skill ul {
    padding-top: 20px; 
    position: relative;
    padding-left: 0px;
    display: flex;
}
.children-skill li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}
.children-skill li::before, .children-skill li::after{
    content: '';
    position: absolute; 
    top: 0; 
    right: 50%;
    border-top: 2px solid #ccc;
    width: 50%; 
    height: 18px;
}
.children-skill li::after{
    right: auto; left: 50%;
    border-left: 2px solid #ccc;
}
.children-skill li:only-child::after, .children-skill li:only-child::before {
    display: none;
}
.children-skill li:only-child{ 
    padding-top: 0;
}
.children-skill li:first-child::before, .children-skill li:last-child::after{
    border: 0 none;
}
.children-skill li:last-child::before{
    border-right: 2px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.children-skill li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
.children-skill ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 2px solid #ccc;
    width: 0; height: 20px;
}
.children-skill li a{
    text-decoration: none;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.children-skill li a:hover+ul li::after, 
.children-skill li a:hover+ul li::before, 
.children-skill li a:hover+ul::before, 
.children-skill li a:hover+ul ul::before{
    border-color:  #fbba00;
}

/*--------------memeber-card-design----------*/
.member-view-box{
    padding:0px 20px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}
.member-image{
    position: relative;
}
