/**************************************************************************************************

    Font definitions

**************************************************************************************************/

@font-face {
    font-family: Hachi Maru Pop;
    src: url(../webfonts/HachiMaruPop-Regular.ttf)
}
@font-face {
    font-family: Mali;
    src: url(../webfonts/Mali-Regular.ttf)
}

@font-face {
    font-family: Dekko;
    src: url(../webfonts/Dekko-Regular.ttf)
}

@font-face {
    font-family: Poppins;
    src: url(../webfonts/Poppins-Regular.ttf)
}

/**************************************************************************************************

    Base styles

**************************************************************************************************/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: lowercase;
    font-family: Mali, serif;
    font-weight: bold;
}

h6,
.h6 {
    text-transform: unset;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover,
a.h1:hover, a.h2:hover, a.h3:hover, a.h4:hover, a.h5:hover {
    color: inherit;
    text-decoration: none;
}

a {
    color: rgba(0, 0, 0, 0.7);
}
a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

body {
    background-color: transparent;
    font-family: verdana, sans-serif; 
    min-height: 100vh;
    font-size: 9.5pt;
    line-height: 20.5px;
    background-color: #fff;
}

/**************************************************************************************************

    Helpers

**************************************************************************************************/

.hide {
    display: none !important;
}

.parsed-text img {
    max-width: 100% !important;
    height: auto !important;
}

.toggle.btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

/**************************************************************************************************

    Layout

**************************************************************************************************/

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(https://i.imgur.com/XxrmiPC.png);
    background-repeat: repeat;
    background-attachment: fixed;
}

main {
    flex-grow: 1;
    display: flex;
}

main > .row {
    flex-grow: 1;
    margin-left: 2.5%;
    margin-right: 4.5%;
}

.main-content {
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
    display: flex;
    max-width: 1000px;
    flex-direction: column;
}

/* Header */

.site-header-image {
    /*background-color: #eee;*/
    background-repeat: no-repeat;
    background-size: 870px;
    min-height: 320px;
    background-attachment: fixed;
  background-position: top;
    width: 60.85%;
margin: auto;
border-top-left-radius: 95px;
border-top-right-radius: 95px;
}

.navbar .nav-item {
    text-transform: lowercase;
    font-family: Mali, serif;
    color: #4a4a4a;
}

.navbar .nav-item:hover {
    background-color: #f4e3e6;
    border-radius: 50px;
}

.dropdown-item:hover {
    background-color: #f4e3e6;
    color: #aaa;
}

.navbar .navbar-f {
    text-transform: lowercase;
    font-family: Hachi Maru Pop, serif; 
   margin-top: -2.5px;
   font-size: 15pt;
   padding-right: 4.5px;
   color: #E5C1C7;
}

.navbar .navbar-brand {
    text-transform: lowercase;
    font-family: Hachi Maru Pop, serif;
    font-weight: bolder;
   margin-top: -6px;
   color: #95b582;
}

.navbar .row { width: 100%;}

.navbar { width: 60.85%; margin: auto; background-color: #fafafa;
border-bottom: 2px solid #E5C1C7;}

.navimg {
    height: 70px;
    width: 100%;
    background-image: url(https://i.imgur.com/BxvQMZ1.png);
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
    top: -50px;
    left: 0px;
    z-index: 0; }
    
.dash {
    width: 75%;
    margin: auto;
    background-image: url(https://i.imgur.com/TRNxyda.png);
    background-repeat: repeat;
    border-radius: 25px;
    padding: 15px;
}
.top1 {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #E5C1C7;
    border-right: 0px;
    border-radius: 25px 0px 0px 25px;
}

.top2 {
    padding: 15px;
    padding-left: 2px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #E5C1C7;
    border-left: 0px;
    border-radius: 0px 25px 25px 0px;
}

.top3 {
    width: 65%;
    padding: 15px;
    padding-top: 5px;
    background-color: #fff;
    border: 1px solid #E5C1C7;
    border-right: 0px;
    border-radius: 25px 0px 0px 25px;
    background-image: url(https://i.imgur.com/TRNxyda.png);
    background-repeat: repeat;
}

.top4 {
    width: 34%;
    padding: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #E5C1C7;
    border-left: 0px;
    border-radius: 0px 25px 25px 0px;
    background-color: #fff;
}

.top2txt {
    margin-top: 32px;
    margin-left: -15px;
    padding-left: 0px;
    padding: 10px;
}

.abt {
    padding: 15px;
    background-color: #fff;
    border: 2px dashed #95b582;
    border-radius: 25px;
    width: 90%;
}

.abth {
    padding: 25px;
    width: 100%;
    background-color: #fafafa;
    font-family: Poppins, serif;
    font-size: 10.5pt;
    text-align: center;
    border-radius: 12.5px;
}

/* Sidebar */

.sidebar {
    text-align: center;
    padding-right: 0px;
    display: inline-block;
    margin-right: 15px;
    padding: 5px;
}

.sidebar ul {
    list-style-type: none;
    display: inline-block;
    padding-top: 30px;
}

.sidebar ul li {
    background-color: white;
    margin-bottom: 0em;
    padding: 0.2em 0; 
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
    width: 180px;
    border-top: 0px solid #95b582;
}

.sidebar .sidebar-section .sidebar-section-header {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: Poppins, serif; 
    background-color: #fafafa;
    font-size: 1-9.5pt;
    padding: 5px;
    border-bottom: 0px solid #95b582;
}

.sidebar .sidebar-header {
    background-color: #95b582;
    padding-bottom: 4.5px;
    border-top-left-radius: .50rem; 
    border-top-right-radius: .50rem;
    font-size: 11pt;
    font-family: Hachi Maru Pop, serif;
    text-transform: lowercase;
    font-weight: bold;
    padding: 2px;
}

.sidebar .sidebar-header a {
    color: white;
    font-family: Hachi Maru Pop, serif;
    padding: 5.5px;
    margin-top: -1.5px;
}
.sidebar .sidebar-header a:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
}

.sidebar a,
.sidebar-section-header {
    display: block;
    padding: 0.1em 1em;
}

.sidebar-section-header {
    margin-top: -2.5px;
}

.sidebar-item a {
    text-align: left;
}

.sidebar a {
    text-transform: lowercase;
    font-family: Poppins, sans-serif;
    color: #4a4a4a;
    font-size: 11pt;
    letter-spacing: 0px;
    padding: 5px;
    padding-left: 15px;
}
.sidebar a:hover {
    color: #aaa;
    background-color: #f4e3e6;
}
.sidebar a:hover,
.sidebar a:active,
.sidebar a:focus,
.sidebar a:link {
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: none;
}
.sidebar a.active, .sidebar a.active:hover {
    color: #4a4a4a;
    background-color: #E5C1C7;
    text-align: left;
}

.sideimg {
    height: 90px;
    width: 100%;
    background-image: url(https://i.imgur.com/qdJQ8kC.png);
    background-repeat: space;
    background-size: contain;
    position: absolute;
    top: -9px;
    left: -13px;
    z-index: 3;
}

.site-mobile-header {
    display: none;
    padding: 10px 20px;
}

@media (max-width: 767px) {
    .site-mobile-header {
        top: 54px !important;
    }

    .timestamp {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}

@media (max-width: 991px) {
    .site-header-image, .navimg, .sideimg {
        display: none;
    }
    .site-mobile-header {
        display: block;
        position: fixed;
        top: 68px;
        z-index: 4;
        width: 100%;
    }

    #headerNav {
        position: fixed;
        z-index: 5;
        width: 100%;
    }

    .dash {
        width: 100%;
    }

    .top1, .top2 {
        width: 40%;
    }
    
    .top3, .top4 {
        width: 100%;
        margin-left: 35px;
    }

    .top2txt {
        margin-top: 0px;
    }

    .navbar .nav-item:hover {
        background-color: #f4e3e6;
        border-radius: 0px;
    }

    main.container-fluid {
        margin-top: 110px;
    }

    main.container-fluid > .row {
        position: relative;
    }
    .sidebar {
        position: absolute;
        padding-left: 75px;
        text-align: center;
        background-color: #fafafa;
        z-index: 3;
        right: 0px;
        bottom: 0px;
        top: 0px;
        overflow-y: scroll;
        left: -100%;
        transition: left 0.2s;
    }
    .sidebar.active {
        left: 0%;
    }

    .sidebar > ul {
        padding-top: 0px;
    }

    .sidebar ul {
        list-style-type: none;
        display: block;
        padding-top: 30px;
        padding-left: 0px;
    }

    .sidebar ul li {
        width: 75%;
        font-align: center;
        background-color: white;
        border-radius: 0;
        margin-bottom: 0;
        padding: 0.4em 0;
        box-shadow: none;
    }

	/*fix for screen being over-wide on mobile*/
	.row {
		margin:0; max-width:100%;
	}

	.container-fluid {
		padding:0px;
	}

	.site-footer .navbar .navbar-nav {
		flex-wrap: wrap; justify-content: center;
	}
}

/* Footer */

.site-footer {
    text-align: center;
}

.site-footer .navbar {
    padding-bottom: 0;
    background: #fff;
    border: 0px;
}
.site-footer .navbar .navbar-nav {
    flex-direction: row;
    background: #fff;
}
.site-footer .navbar .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.site-footer .copyright {
    padding: 0 1rem 1rem;
    color: rgba(0, 0, 0, 0.3);
}

.mce-content-body {
    padding: 20px;
}

/**************************************************************************************************

    Content

**************************************************************************************************/
.modal-header {
    border-bottom: 0px;
}
.modal-header .modal-title {
    line-height: 1em;
}

.tooltip-inner {
    max-width: 350px !important;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
}
.nav-tabs .nav-link {
    text-transform: lowercase;
    font-family: Poppins, sans-serif;
}

.display-user,
.display-character {
    font-weight: bold;
   margin-left: 0px;
}

.help-icon {
    /*vertical-align: middle;*/
    cursor: pointer;
    margin: 0 5px;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    align-items: center;
    padding: 5px;
    letter-spacing: 0.5px;
}
.breadcrumb a {
    color: rgba(9, 9, 9, 0.568);
    background-color: #EDD3A0;
    border-radius: 999px;
    padding: 8px;
}
.breadcrumb a:hover {
    color: rgba(0,0,0,0.4);
    background-color: #f1e0c9;
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item:before {
    content: "/";
}
.collapse-title {
    position: relative;
}
.collapse-title:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 0.425em;
    border: 0.3em solid rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
}

.image,
.image-thumb {
    max-width: 100%;
}

.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination {
    flex-wrap: wrap;
}

.spoiler {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 1rem;
    background: transparent;
    margin-top: 0px;
}
.spoiler-toggle {
    font-weight: bold;
    background-color: #f5f5f5;
    cursor: pointer;
    padding: .3rem 1.25rem;
    font-size: .9rem;
    font-family: Poppins, serif;
    color: inherit;
    text-transform: uppercase;
}
.spoiler-text {
    padding: 0.75rem 1.25rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.text-break {
    overflow-wrap: break-word;
    word-break: break-word;
}
.small-icon {
    height: 2rem;
    padding-right: .5rem;
}

.btn-primary:active, .btn-primary:visited, .badge-primary, .badge-secondary, .badge-info {
    background-color: #CFDEBA !important; border-color: #CFDEBA; color: #4a4a4a; text-transform: capitalize;
} 

.badge-success {background-color: #95b582;}

.btn-primary {background-color:#EDD3A0; border-color: #EDD3A0; color: #4a4a4a;}
.btn-primary:hover {background-color:#f1e0c9; border-color: #f1e0c9; color: #4a4a4a;}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    border-color: #bed0a6 !important; color: #bed0a6;
}

.btn-outline-primary:hover {
    background-color: #bed0a6 !important; color: #4a4a4a;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #E5C1C7 !important; border-color: #E5C1C7; color: #4a4a4a;
} 

.btn-outline-success, .btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
    border-color: #E5C1C7 !important; color: #E5C1C7;
}

.btn-outline-success:hover {
    background-color: #E5C1C7 !important; color: #4a4a4a;
}

.btn-outline-info, .btn-outline-info:active, .btn-outline-info:visited {
    color:#E5C1C7; border-color: #E5C1C7;}

.btn-info, .btn-info:active, .btn-info:visited {
        background-color: #E5C1C7 !important; border-color: #E5C1C7; color: #4a4a4a;
    } 

.btn-outline-info:hover, .btn-info:hover {
        background-color: #f4e3e6 !important; border-color: #f4e3e6; color: #4a4a4a;
    }

.alert-secondary {
        background-color: #E0ECD0 !important; border-color: #f4e3e6; color: #4a4a4a;
    }

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited, .badge-danger {
    background-color: #E57373 !important; border-color: #E57373; color: #fafafa;
} 

.btn-danger:hover {
    background-color: #df6e6e !important; border-color: #df6e6e; color: #fafafa;
} 

.btn-outline-danger, .btn-outline-danger:hover, .btn-outline-danger:active, .btn-outline-danger:visited {
    border-color: #E57373 !important; color: #E57373;
}

.btn-outline-danger:hover {
    background-color: #df6e6e !important; color: #fafafa;
}

.btn-secondary, .btn-secondary.focus, .btn-secondary:active, .btn-secondary:visited {
    background-color: #f4e3e6 !important; border-color: #f4e3e6; color: #4a4a4a;
}

.grid-view-button, .list-view-button, .thumb-view-button {border: #fff;}

.btn-secondary:hover {background-color:#E5C1C7; border-color: #E5C1C7; color: #4a4a4a;}

.btn-outline-secondary, .btn-outline-secondary:hover, .btn-outline-secondary:active, .btn-outline-secondary:visited {
    border-color: #f4e3e6 !important; color: #f4e3e6;
}

.btn-outline-secondary:hover {
    background-color: #E5C1C7 !important; color: #4a4a4a;
}

/* NOTIFICATIONS *********************************************************************************/

.notifications-table .unread,
.notifications-table .unread td {
    background-color: #fffdf0;
}

/* BROWSE ****************************************************************************************/

.world-entry-image {
    text-align: center;
}

.world-entry-image img {
    max-width: 100%;
}
.world-entry-search {
    opacity: 0.5;
}

.masterlist-search-field {
    display: inline-block;
    align-items: center;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
}
.masterlist-search-field label {
    margin-bottom: 0px;
    margin-right: 10px;
}
.masterlist-search-field input[type="text"],
.masterlist-search-field select {
    width: 300px;
}

/* ADMIN ****************************************************************************************/

.ranks-table tbody tr > td:last-of-type {
    text-align: right;
}

.sortable .handle {
    color: #343a40;
}
.sortable .sortable-placeholder {
    background-color: rgba(0, 0, 0, 0.1);
}

/* LOGS ******************************************************************************************/
tr.inflow {
    background-color: #fafaff;
}
tr.outflow {
    background-color: #fffafa;
}

/* PROFILE ***************************************************************************************/

.profile-assets-card .card-body {
    display: flex;
    flex-direction: column;
}

.profile-assets-card .card-body .profile-assets-content {
    flex-grow: 1;
}

.profile-assets .profile-inventory .profile-inventory-item img {
    max-width: 100%;
}

.character-bio .nav-tabs.card-header-tabs .active {
    background-color: white;
}

.card-header { background: none;}

.tooltip.show {
    opacity: 1.5;
} 

/* INVENTORY *************************************************************************************/

.inventory-category .inventory-body .inventory-item img {
    max-width: 100%;
}
.inventory-stack-name,
.inventory-character-name {
    color: rgba(0, 0, 0, 0.7);
}
.inventory-stack-name:hover,
.inventory-character-name:hover {
    color: inherit;
    text-decoration: none;
}
tr.accountbound {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
}

/* CHARACTERS ************************************************************************************/

.image-nav .nav-item a {
    border: 5px solid transparent;
    border-radius: 0.25rem;
    display: block;
}
.image-nav .nav-item a.active {
    border: 5px solid #ddd;
}

/* TRANSFERS *************************************************************************************/

.transfer-row,
.submission-character-row {
    display: flex;
    align-items: stretch;
}
.transfer-info,
.submission-character-info {
    flex-grow: 1;
}
.transfer-info .card-body,
.submission-character-info .card-body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.transfer-info-content,
.submission-character-info-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.transfer-info-content .transfer-info-body,
.submission-character-info-content .submission-character-info-body {
    flex-grow: 1;
}

.collapse-toggle {
    position: relative;
}
.collapse-toggle:after {
    display: block;
    content: "";
    border: 0.3rem solid rgba(0, 0, 0, 0.5);
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);
    position: absolute;
    right: -0.85rem;
    top: 0.45rem;
    transform: rotateZ(90deg) translateX(0.25rem);
}
.collapse-toggle.collapsed:after {
    transform: none;
}
.user-items .inventory-item,
.user-characters .character-item {
    padding: 10px;
}
.user-items .inventory-stack,
.user-characters .character-stack {
    cursor: pointer;
}
.user-items .inventory-item img,
.user-characters .character-item img {
    max-width: 100%;
}
.user-characters .character-item.disabled,
.user-characters .character-item.disabled .character-stack {
    opacity: 0.5;
    cursor: not-allowed;
}
.user-items .category-selected .inventory-item,
.user-characters .category-selected .character-item {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
}
.user-items .category-selected.select-item-row {
    background-color: rgba(0, 0, 0, 0.05);
}

/* SHOPS *****************************************************************************************/
.shops-row img {
    max-width: 100%;
}
.shops-row .shop-name a {
    font-weight: bold;
}

/* TRADES ****************************************************************************************/
.trade-offer .currency-item {
    background-color: transparent;
}

/* BOOKMARKS *************************************************************************************/
.bookmark-table {
    min-width: 1000px;
}

.bookmark-table .bookmark-thumbnail {
    min-width: 115px;
    width: 115px;
}

.bookmark-table .bookmark-info {
    width: 20%;
}

.bookmark-table .bookmark-notifications {
    width: 18%;
}

.bookmark-table .bookmark-actions {
    width: 18%;
}

.bookmark-table .img-thumbnail {
    width: 100px;
}


@media (min-width: 768px) {
    .fb-md-50 { flex-basis:50%; }
}

/* BOOTSTRAP TABLES *************************************************************************************/
.ubt-bottom {
    border-bottom: 1px solid #dee2e6;
}

.ubt-top {
    border-top: 1px solid #dee2e6;
}

.ubt-texthide {
    width: 100%;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

/* COMMENTS *************************************************************************************/
.comment_replies {
        padding-left: 3rem;
        border-left-width: 2px!important;
    }

@media only screen and (max-width: 600px) {
    .comment_replies {
        padding-left: 1rem;
    }
}
/*
    Credit to Preimpression for all of this code. You can find their github here:
    https://github.com/preimpression

    Branch where the code is from:
    https://github.com/preimpression/lorekeeper/tree/extension/research_trees
*/

.children-scroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
.children-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e4e4e4;
}
.children-scroll::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
    transition: 0.5s;
}
.children-scroll::-webkit-scrollbar-thumb:hover {
    background: #d5b14c;
    transition: 0.5s;
}


/*----------------children-skill----------*/
.children-body{
    white-space: nowrap;
    overflow-y: hidden; 
}
.children-skill ul {
    padding-top: 20px; 
    position: relative;
    padding-left: 0px;
    display: flex;
}
.children-skill li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}
.children-skill li::before, .children-skill li::after{
    content: '';
    position: absolute; 
    top: 0; 
    right: 50%;
    border-top: 2px solid #ccc;
    width: 50%; 
    height: 18px;
}
.children-skill li::after{
    right: auto; left: 50%;
    border-left: 2px solid #ccc;
}
.children-skill li:only-child::after, .children-skill li:only-child::before {
    display: none;
}
.children-skill li:only-child{ 
    padding-top: 0;
}
.children-skill li:first-child::before, .children-skill li:last-child::after{
    border: 0 none;
}
.children-skill li:last-child::before{
    border-right: 2px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.children-skill li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
.children-skill ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 2px solid #ccc;
    width: 0; height: 20px;
}
.children-skill li a{
    text-decoration: none;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.children-skill li a:hover+ul li::after, 
.children-skill li a:hover+ul li::before, 
.children-skill li a:hover+ul::before, 
.children-skill li a:hover+ul ul::before{
    border-color:  #fbba00;
}

/*--------------memeber-card-design----------*/
.member-view-box{
    padding:0px 20px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}
.member-image{
    position: relative;
}
@media (min-width: 576px) {
    .navbar-expand-sm {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  
    .navbar-expand-sm .navbar-nav {
      flex-direction: row;
    }
  
    .navbar-expand-sm .navbar-nav .dropdown-menu {
      position: absolute;
    }
  
    .navbar-expand-sm .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  
    .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid, .navbar-expand-sm > .container-sm, .navbar-expand-sm > .container-md, .navbar-expand-sm > .container-lg, .navbar-expand-sm > .container-xl {
      flex-wrap: nowrap;
    }
  
    .navbar-expand-sm .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
  
    .navbar-expand-sm .navbar-toggler {
      display: none;
    }
  }
  @media (max-width: 767.98px) {
    .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-md, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-xl {
      padding-right: 0;
      padding-left: 0;
    }
  }
  @media (min-width: 768px) {
    .navbar-expand-md {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  
    .navbar-expand-md .navbar-nav {
      flex-direction: row;
    }
  
    .navbar-expand-md .navbar-nav .dropdown-menu {
      position: absolute;
    }
  
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  
    .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-md, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-xl {
      flex-wrap: nowrap;
    }
  
    .navbar-expand-md .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
  
    .navbar-expand-md .navbar-toggler {
      display: none;
    }
  }
  @media (max-width: 991.98px) {
    .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
      padding-right: 0;
      padding-left: 0;
    }
  }
  @media (min-width: 992px) {
    .navbar-expand-lg {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  
    .navbar-expand-lg .navbar-nav {
      flex-direction: row;
    }
  
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
    }
  
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  
    .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
      flex-wrap: nowrap;
    }
  
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
  
    .navbar-expand-lg .navbar-toggler {
      display: none;
    }
  }
  @media (max-width: 1199.98px) {
    .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid, .navbar-expand-xl > .container-sm, .navbar-expand-xl > .container-md, .navbar-expand-xl > .container-lg, .navbar-expand-xl > .container-xl {
      padding-right: 0;
      padding-left: 0;
    }
  }
  @media (min-width: 1200px) {
    .navbar-expand-xl {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  
    .navbar-expand-xl .navbar-nav {
      flex-direction: row;
    }
  
    .navbar-expand-xl .navbar-nav .dropdown-menu {
      position: absolute;
    }
  
    .navbar-expand-xl .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  
    .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid, .navbar-expand-xl > .container-sm, .navbar-expand-xl > .container-md, .navbar-expand-xl > .container-lg, .navbar-expand-xl > .container-xl {
      flex-wrap: nowrap;
    }
  
    .navbar-expand-xl .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
  
    .navbar-expand-xl .navbar-toggler {
      display: none;
    }
  }
  .navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  
  .navbar-expand > .container,
  .navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
  
  .navbar-expand .navbar-nav {
    flex-direction: row;
  }
  
  .navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
  }
  
  .navbar-expand .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  
  .navbar-expand > .container,
  .navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {
    flex-wrap: nowrap;
  }
  
  .navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  
  .navbar-expand .navbar-toggler {
    display: none;
  }
  
  .navbar-light .navbar-brand {
    color: rgba(34, 36, 34, 0.9);
  }
  
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(34, 36, 34, 0.9);
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: rgba(34, 36, 34, 0.5);
  }
  
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(34, 36, 34, 0.7);
  }
  
  .navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(34, 36, 34, 0.3);
  }
  
  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .nav-link.active {
    color: rgba(34, 36, 34, 0.9);
  }
  
  .navbar-light .navbar-toggler {
    color: rgba(34, 36, 34, 0.5);
    border-color: rgba(34, 36, 34, 0.1);
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2834, 36, 34, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-light .navbar-text {
    color: rgba(34, 36, 34, 0.5);
  }
  
  .navbar-light .navbar-text a {
    color: rgba(34, 36, 34, 0.9);
  }
  
  .navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
    color: rgba(34, 36, 34, 0.9);
  }
  
  .navbar-dark .navbar-brand {
    color: #fdfbfb;
  }
  
  .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #fdfbfb;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: rgba(244, 245, 240, 0.5);
  }
  
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #fdfbfb;
  }
  
  .navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(244, 245, 240, 0.25);
  }
  
  .navbar-dark .navbar-nav .show > .nav-link,
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .nav-link.active {
    color: #fdfbfb;
  }
  
  .navbar-dark .navbar-toggler {
    color: rgba(244, 245, 240, 0.5);
    border-color: rgba(244, 245, 240, 0.1);
  }
  
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28244, 245, 240, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-dark .navbar-text {
    color: rgba(244, 245, 240, 0.5);
  }
  
  .navbar-dark .navbar-text a {
    color: #fdfbfb;
  }
  
  .navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
    color: #fdfbfb;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid rgba(34, 36, 34, 0.125);
    border-radius: 0.25rem;
    color: #3d3a3a;
  }
  
  .card > hr {
    margin-right: 0;
    margin-left: 0;
  }
  
  .card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
  }
  
  .card > .list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card > .list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    color: #3d3a3a;
  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  .card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link:hover {
    text-decoration: none;
  }
  
  .card-link + .card-link {
    margin-left: 1.25rem;
  }
  
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(34, 36, 34, 0.03);
    border-bottom: 1px solid rgba(34, 36, 34, 0.125);
  }
  
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  
  .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(34, 36, 34, 0.03);
    border-top: 1px solid rgba(34, 36, 34, 0.125);
  }
  
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }
  
  .card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
  }
  
  .card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
    flex-shrink: 0;
    width: 100%;
  }
  
  .card-img,
  .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card-deck .card {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-deck {
      display: flex;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
  
    .card-deck .card {
      flex: 1 0 0%;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
  .card-group > .card {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-group {
      display: flex;
      flex-flow: row wrap;
    }
  
    .card-group > .card {
      flex: 1 0 0%;
      margin-bottom: 0;
    }
  
    .card-group > .card + .card {
      margin-left: 0;
      border-left: 0;
    }
  
    .card-group > .card:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  
    .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
      border-top-right-radius: 0;
    }
  
    .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
      border-bottom-right-radius: 0;
    }
  
    .card-group > .card:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
      border-top-left-radius: 0;
    }
  
    .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
      border-bottom-left-radius: 0;
    }
  }
  .card-columns .card {
    margin-bottom: 0.75rem;
  }
  
  @media (min-width: 576px) {
    .card-columns {
      column-count: 3;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
    }
  
    .card-columns .card {
      display: inline-block;
      width: 100%;
    }
  }
  .accordion > .card {
    overflow: hidden;
  }
  
  .accordion > .card:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .accordion > .card:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .accordion > .card > .card-header {
    border-radius: 0;
    margin-bottom: -1px;
  }
  
  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #7c7676;
    border-radius: 0.25rem;
  }
  
  .breadcrumb-item {
    display: flex;
  }
  
  .breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #d1d4c8;
    content: "/";
  }
  
  .breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: underline;
  }
  
  .breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
  }
  
  .breadcrumb-item.active {
    color: #dcdfd6;
  }
  
  .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #595454;
    background-color: #dcdfd6;
    border: 1px solid #b7bba8;
  }
  
  .page-link:hover {
    z-index: 2;
    color: #859430;
    text-decoration: none;
    background-color: #d1d4c8;
    border-color: #b7bba8;
  }
  
  .page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(66, 116, 111, 0.25);
  }
  
  .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  
  .page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  
  .page-item.active .page-link {
    z-index: 3;
    color: #fdfbfb;
    background-color: #b1645e;
    border-color: #b1645e;
  }
  
  .page-item.disabled .page-link {
    color: #9f9b9b;
    pointer-events: none;
    cursor: auto;
    background-color: #d1d4c8;
    border-color: #b7bba8;
  }
  
  .pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  
  .pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  
  .pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
  }
  
  .pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }
  
  .pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
  
  .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .badge {
      transition: none;
    }
  }
  a.badge:hover, a.badge:focus {
    text-decoration: none;
  }
  
  .badge:empty {
    display: none;
  }
  
  .btn .badge {
    position: relative;
    top: -1px;
  }
  
  .badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
  }
  
  .badge-primary {
    color: #fdfbfb;
    background-color: #b1645e;
  }
  
  a.badge-primary:hover, a.badge-primary:focus {
    color: #fdfbfb;
    background-color: #a55650;
  }
  
  a.badge-primary:focus, a.badge-primary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(66, 116, 111, 0.5);
  }
  
  .badge-secondary {
    color: #fdfbfb;
    background-color: #7c7676;
  }
  
  a.badge-secondary:hover, a.badge-secondary:focus {
    color: #fdfbfb;
    background-color: #6c7063;
  }
  
  a.badge-secondary:focus, a.badge-secondary.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(134, 139, 123, 0.5);
  }
  
  .badge-success {
    color: #262921;
    background-color: #8cab4c;
  }
  
  a.badge-success:hover, a.badge-success:focus {
    color: #262921;
    background-color: #96a736;
  }
  
  a.badge-success:focus, a.badge-success.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(179, 197, 75, 0.5);
  }
  
  .badge-info {
    color: #fdfbfb;
    background-color: #35c0ee;
  }
  
  a.badge-info:hover, a.badge-info:focus {
    color: #fdfbfb;
    background-color: #359372;
  }
  
  a.badge-info:focus, a.badge-info.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(67, 184, 143, 0.5);
  }
  
  .badge-warning {
    color: #262921;
    background-color: #d98d56;
  }
  
  a.badge-warning:hover, a.badge-warning:focus {
    color: #262921;
    background-color: #998830;
  }
  
  a.badge-warning:focus, a.badge-warning.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(192, 171, 60, 0.5);
  }
  
  .badge-danger {
    color: #fdfbfb;
    background-color: #c94340;
  }
  
  a.badge-danger:hover, a.badge-danger:focus {
    color: #fdfbfb;
    background-color: #903533;
  }
  
  a.badge-danger:focus, a.badge-danger.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(182, 67, 64, 0.5);
  }
  
  .badge-light {
    color: #262921;
    background-color: #9f9b9b;
  }
  
  a.badge-light:hover, a.badge-light:focus {
    color: #262921;
    background-color: #7c846c;
  }
  
  a.badge-light:focus, a.badge-light.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(149, 156, 135, 0.5);
  }
  
  .badge-dark {
    color: #fdfbfb;
    background-color: #595454;
  }
  
  a.badge-dark:hover, a.badge-dark:focus {
    color: #fdfbfb;
    background-color: #394742;
  }
  
  a.badge-dark:focus, a.badge-dark.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(80, 99, 92, 0.5);
  }
  
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #7c7676;
    border-radius: 0.3rem;
  }
  
  @media (min-width: 576px) {
    .jumbotron {
      padding: 4rem 2rem;
    }
  }
  .jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
  }
  
  .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  
  .alert-heading {
    color: inherit;
  }
  
  .alert-link {
    font-weight: 700;
  }
  
  .alert-dismissible {
    padding-right: 4rem;
  }
  
  .alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
  }
  
  .alert-primary {
    color: #334e4a;
    background-color: #d0dbd6;
    border-color: #c2d1cc;
  }
  
  .alert-primary hr {
    border-top-color: #b3c6c0;
  }
  
  .alert-primary .alert-link {
    color: #1f2f2d;
  }
  
  .alert-secondary {
    color: #565a50;
    background-color: #dee0d9;
    border-color: #d5d7cf;
  }
  
  .alert-secondary hr {
    border-top-color: #c9cbc1;
  }
  
  .alert-secondary .alert-link {
    color: #3c3f38;
  }
  
  .alert-success {
    color: #6d7837;
    background-color: #e7ebcf;
    border-color: #e2e8c2;
  }
  
  .alert-success hr {
    border-top-color: #d9e1af;
  }
  
  .alert-success .alert-link {
    color: #4d5527;
  }
  
  .alert-info {
    color: #33715b;
    background-color: #d1e9dd;
    border-color: #c2e4d5;
  }
  
  .alert-info hr {
    border-top-color: #b0dcc9;
  }
  
  .alert-info .alert-link {
    color: #234e3f;
  }
  
  .alert-warning {
    color: #746a30;
    background-color: #eae6cc;
    border-color: #e5e0be;
  }
  
  .alert-warning hr {
    border-top-color: #ded7ac;
  }
  
  .alert-warning .alert-link {
    color: #504921;
  }
  
  .alert-danger {
    color: #6f3432;
    background-color: #e8d1cd;
    border-color: #e3c3bf;
  }
  
  .alert-danger hr {
    border-top-color: #dbb2ad;
  }
  
  .alert-danger .alert-link {
    color: #4c2422;
  }
  
  .alert-light {
    color: #5e6257;
    background-color: #e1e3db;
    border-color: #d9dcd3;
  }
  
  .alert-light hr {
    border-top-color: #cdd1c5;
  }
  
  .alert-light .alert-link {
    color: #44473f;
  }
  
  .alert-dark {
    color: #3a4540;
    background-color: #d3d8d2;
    border-color: #c6ccc7;
  }
  
  .alert-dark hr {
    border-top-color: #b9c0ba;
  }
  
  .alert-dark .alert-link {
    color: #232926;
  }
  